* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
}

.main-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.search-container {
  margin-top: 0.6rem;
  width: 100%;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 40%;
  padding: 0.4rem 0.5rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid rgb(128, 121, 121);
}

input:focus {
  outline: 1px solid black;
  border: none;
}

button {
  width: 70px;
  padding: 0.4rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid blue;
  background-color: blue;
  color: white;
  margin-left: -0.9px;
}

.container-cards {
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.container-cards .card {
  width: 30%;
  height: 370px;
  border: 1px solid rgb(184, 178, 178);
  border-radius: 5px;
}

/* breakpoint */

/* tablet */
@media screen and (max-width: 1024px) {
  input {
    width: 55%;
  }
  .container-cards {
    padding: 2rem;
    gap: 1rem;
  }
  .container-cards .card {
    width: 48%;
    height: 380px;
  }
}

/* handphone */
@media screen and (min-width: 10px) and (max-width: 576px) {
  input {
    width: 65%;
  }
  .container-cards {
    padding: 2.5rem;
  }
  .container-cards .card {
    width: 100%;
    height: 350px;
  }
}
