* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
}

.main-container {
  width: 100%;
}

.main-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.search-container {
  margin-top: 0.6rem;
  width: 100%;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 40%;
  padding: 0.4rem 0.5rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid rgb(184, 178, 178);
}

input:focus {
  outline: none;
  border: none;
  box-shadow: 0px 0px 22px -5px rgba(0, 0, 255, 0.51);
  -webkit-box-shadow: 0px 0px 22px -5px rgba(0, 0, 255, 0.51);
  -moz-box-shadow: 0px 0px 22px -5px rgba(0, 0, 255, 0.51);
}

button.search-button {
  width: 70px;
  padding: 0.4rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgb(0, 0, 255);
  background-color: blue;
  color: white;
  margin-left: -0.9px;
  cursor: pointer;
}

.container-cards {
  width: 100%;
  padding: 0 10rem 4rem 10rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.container-cards .card {
  width: 30%;
  border: 1px solid rgb(184, 178, 178);
  border-radius: 10px;
}

.container-cards .card h3 {
  margin-bottom: 0.2rem;
}

.year {
  margin-bottom: 0.8rem;
}

.modal-detail-button {
  padding: 0.5rem 0.5rem;
  background-color: blue;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-body {
  width: 100%;
  padding: 1rem;
}

.container-image {
  width: 100%;
  height: 350px;
}

/* Box Modal */
.container-modal-box {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(10, 10, 10, 0.8);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
     /* Menempatkan modal di atas elemen lain */ 
}

.box-modal-card {
  background: white;
  width: 70%;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.box-modal-card .up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.isi-content {
  border-bottom: 1px solid rgb(237, 228, 228);
  border-top: 1px solid rgb(237, 228, 228);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  width: 100%;
  height: 360px;
}

.isi-content .left {
  width: 40%;
  height: 100%;
}

.isi-content .right {
  width: 60%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.isi-content .right span {
  font-weight: bold;
}

.isi-content h3,
.isi-content p {
  border: 1px solid rgb(237, 228, 228);
  padding: 1rem;
}

.box-modal-card .down {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  padding: 0.6rem 0.7rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background: blue;
  color: white;
  cursor: pointer;
}

/* breakpoint */

/* tablet */
@media screen and (max-width: 1024px) {
  input {
    width: 55%;
  }
  .container-cards {
    padding: 0 5.5rem 3rem 5.5rem;
    margin-top: 1rem;
    gap: 1rem;
  }
  .container-cards .card {
    width: 48%;
  }
  .container-image {
    height: 430px;
  }
}

/* handphone */
@media screen and (min-width: 10px) and (max-width: 576px) {
  input {
    width: 65%;
  }
  .container-cards {
    padding: 0 3rem 3rem 3rem;
    margin-top: 1rem;
  }
  .container-cards .card {
    width: 100%;
  }
  .container-image {
    height: 390px;
  }
}
